*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.mtl filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.db-shm filter=lfs diff=lfs merge=lfs -text
*.db-wal filter=lfs diff=lfs merge=lfs -text
*.ipch filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/SDL2-2.30.2/docs/doxyfile filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.inl filter=lfs diff=lfs merge=lfs -text
*.exp filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.clang-format filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/ChangeLog filter=lfs diff=lfs merge=lfs -text
*.TXT filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/Makefile filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/README filter=lfs diff=lfs merge=lfs -text
*.git filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/builds/amiga/README filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/builds/amiga/makefile filter=lfs diff=lfs merge=lfs -text
*.os4 filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/builds/amiga/smakefile filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.mk filter=lfs diff=lfs merge=lfs -text
*.H filter=lfs diff=lfs merge=lfs -text
*.SIC filter=lfs diff=lfs merge=lfs -text
*.PRJ filter=lfs diff=lfs merge=lfs -text
*.awk filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/builds/mac/README filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.inf filter=lfs diff=lfs merge=lfs -text
*.mmp filter=lfs diff=lfs merge=lfs -text
*.m4 filter=lfs diff=lfs merge=lfs -text
*.guess filter=lfs diff=lfs merge=lfs -text
*.sub filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/builds/unix/configure filter=lfs diff=lfs merge=lfs -text
*.ac filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/builds/unix/install-sh filter=lfs diff=lfs merge=lfs -text
*.bash filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.vcproj filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.props filter=lfs diff=lfs merge=lfs -text
*.vcxproj filter=lfs diff=lfs merge=lfs -text
*.filters filter=lfs diff=lfs merge=lfs -text
*.user filter=lfs diff=lfs merge=lfs -text
*.dsp filter=lfs diff=lfs merge=lfs -text
*.dsw filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/configure filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/CHANGES filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/CMAKE filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/CUSTOMIZE filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/DEBUG filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/DOCGUIDE filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/INSTALL filter=lfs diff=lfs merge=lfs -text
*.ANY filter=lfs diff=lfs merge=lfs -text
*.CROSS filter=lfs diff=lfs merge=lfs -text
*.GNU filter=lfs diff=lfs merge=lfs -text
*.MAC filter=lfs diff=lfs merge=lfs -text
*.UNIX filter=lfs diff=lfs merge=lfs -text
*.VMS filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/MAKEPP filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/PROBLEMS filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/README filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/TODO filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.20 filter=lfs diff=lfs merge=lfs -text
*.21 filter=lfs diff=lfs merge=lfs -text
*.210 filter=lfs diff=lfs merge=lfs -text
*.22 filter=lfs diff=lfs merge=lfs -text
*.23 filter=lfs diff=lfs merge=lfs -text
*.24 filter=lfs diff=lfs merge=lfs -text
*.25 filter=lfs diff=lfs merge=lfs -text
*.26 filter=lfs diff=lfs merge=lfs -text
*.27 filter=lfs diff=lfs merge=lfs -text
*.28 filter=lfs diff=lfs merge=lfs -text
*.29 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/docs/release filter=lfs diff=lfs merge=lfs -text
*.build filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/objs/README filter=lfs diff=lfs merge=lfs -text
*.recipe filter=lfs diff=lfs merge=lfs -text
*.ilk filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.tlog filter=lfs diff=lfs merge=lfs -text
*.lastbuildstate filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
*.cin filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.hin filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/src/bdf/README filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/src/gxvalid/README filter=lfs diff=lfs merge=lfs -text
*.freetype filter=lfs diff=lfs merge=lfs -text
*.diff filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/src/pcf/README filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/src/tools/ftrandom/Makefile filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/src/tools/ftrandom/README filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/src/tools/no-copyright filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/src/tools/update-copyright filter=lfs diff=lfs merge=lfs -text
/External[[:space:]]Libraries/ft2132/freetype-2.13.2/src/tools/update-copyright-year filter=lfs diff=lfs merge=lfs -text
*.wrap filter=lfs diff=lfs merge=lfs -text
*.com filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.Fbx filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.fs filter=lfs diff=lfs merge=lfs -text
*.vs filter=lfs diff=lfs merge=lfs -text
*.ifc filter=lfs diff=lfs merge=lfs -text
*.command filter=lfs diff=lfs merge=lfs -text
*.idb filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
